.inputComment {
  resize: none;
  outline: none;
  width: 100%;
  height: 8rem;
  box-sizing: border-box;
  border: 1px solid #f1f3f5;
  border-radius: 4px;
  padding: 0.8rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.comment__list {
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid grey;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }
}

.comment__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  .profile {
    display: flex;
    align-items: center;

    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    .profile__info {
      margin-left: 0.3rem;
      display: flex;
      flex-direction: column;
      line-height: 1;

      a {
        font-size: 1rem;
        font-weight: bold;
        color: #000;
        text-decoration: none;
      }

      span {
        font-size: 0.8rem;
        color: #868e96;
        margin-top: 0.5rem;
      }
    }
  }
}

.comment__recomment {
  margin-top: 2rem;
  cursor: pointer;

  .info {
    display: flex;
    align-items: center;
    color: green;
  }
}

.comment__body {
  display: flex;
  align-items: center;
  padding : 0 0.5rem;
}

.comment__toolbox {
  position: absolute;
  display: flex;
  right: 0;
}