/* MY PAGE */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.myPage {
  display: block;
  width: 768px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar button {
  background-color: transparent;
  color: black;
  font-size: 1.5rem;
  border: none;
  padding: 10px;
}

.navbar button:hover {
  background-color: rgb(194, 194, 194);
}

.navbar button:first-child {
  border-right: 1px solid rgb(194, 194, 194);
}

.myPage hr {
  width: 100%;
  opacity: 20%;
  margin: auto;
  box-sizing: border-box;
}
.myPage button {
  color: white;
  background-color: rgb(5, 199, 199);
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
}

/* PROFILE */
.profileBox {
  display: flex;
  margin-top: 3.5rem;
}
.profile {
  text-align: center;
  padding: 20px;
}
.profile .file {
  display: none;
}
.profile .myImage {
  width: 8rem;
  height: 8rem;
  border: 1px white;
  border-radius: 50%;
  margin: auto;
}
.profile h2 {
  margin: 0 10px;
}

/* IMG 수정 */
.profile .imgBtn {
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

.profile .modifyBtn {
  background: none;
  padding: 1rem;
  color: rgb(5, 199, 199);
}

/* SETTING - 회원정보수정 */
.setting {
  margin-top: 30px;
}
.setting p {
  margin: 0;
  padding-top: 15px;
  color: rgb(119, 119, 119);
}
.setting label {
  width: 150px;
  font-weight: 700;
  font-size: 20px;
}
.setting .wrapper {
  height: 70px;
  padding: 20px 0;
}
.setting .wrapperList {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
}
.setting .wrapperInput {
  height: 90px;
  padding: 20px 0;
}
.setting .wrapperList > span:last-child {
  margin-left: auto;
}
.setting .modifyBtn {
  background: none;
  text-decoration: underline;
  color: rgb(5, 199, 199);
  cursor: pointer;
}
.setting .username {
  flex: 1 1 0%;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid rgb(5, 199, 199);
  border-radius: 10px;
}
.setting .alert {
  box-sizing: border-box;
  padding: 0;
}
.setting .updateBtn {
  margin-left: auto;
  cursor: pointer;
}
.setting .removeBtn {
  color: aliceblue;
  background-color: rgb(255, 60, 60);
  cursor: pointer;
}

/* LIST - 쓴 글 목록 */
.myList {
  overflow: scroll;
}
.myList .body {
  margin-top: 3rem;
}
.serBox {
  box-sizing: inherit;
  /* margin-bottom: 30px; */
}
.serSec {
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
}
.search {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  height: 2.25rem;
  padding: 0 10px;
}
.search svg {
  width: 1.5rem;
  height: 1.5rem;
}
.search input {
  font-size: 0.875rem;
  border: 0;
  color: gray;
}
.list {
  margin-bottom: 60px;
}

.list .postLink{
  color: inherit;
  text-decoration: none;
}

.list .contentImg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}
.list img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
/* .swal-wide{
  width:250px !important;
  max-width: unset !important;
} */
.list h2 {
  margin: 15px 0;
}
.list .a{
  text-decoration: none;
}
.tagWrapper {
  width: 100%;
  margin-top: 1rem;
}
.boardTag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #faf9fa;
  padding: 0 10px;
  color: #12b886;
  border-radius: 10%;
  height: 30px;
  margin-right: 0.3rem;
  white-space: nowrap;
}
.list .subInfo {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.list .subInfo span {
  color: rgb(119, 119, 119);
  margin-right: 10px;
}
.body .notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  text-align: center;
}


/* INTRO */
.introBox {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px 0;
}
.introBox h2 {
  display: block;
  margin: 10px 0;
}
.introBox .intro {
  width: 100%;
  height: 40%;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;
}
.introBox .inputBlock {
  width: 100%;
  /* height: auto; */
  box-sizing: content-box;
}
.introBox input {
  margin: 20px 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-size: 20px;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid rgb(182, 212, 212);
  border-radius: 10px;
}
.introBox .modifyBtn {
  float: right;
  background: none;
  text-decoration: underline;
  color: rgb(5, 199, 199);
  box-sizing: border-box;
}
/*
.introBox .saveBtn {
  float: right;
  font-size: 20px;
  padding: 5px 25px;
}
.intro .introView {
  width: 100%;
  height: 40px;
}
.intro .content {
  margin-top: 10px;
  font-size: 20px;
} */

/* Tab */
/* @media all and (min-width:768px) and (max-width:1023px) {
  .myPage {
    display: block;
    width: 90%;
  }
  .myList .body {
    margin-left: 30px;
    margin-right: 30px;
  }
}  */
/* Phone */
@media all and (max-width:767px) {
  .myPage {
  display: block;
  width: 100%; 
  }
  .profileBox {
    display: block;
  }
  .setting {
    margin: 30px 20px;
  }
  .myList {
    margin-top: 30px;
  }
  .myList .body {
    margin: 30px 20px;
  }
  .myList .list {
    margin-bottom: 30px;
  }
  .myList .head {
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .myList .a{
    text-decoration: none;
  }
  .list .subInfo {
    margin-bottom: 30px;
  }
}